html {
    scroll-behavior: smooth;
}
div#logo__main img 
{
    position: relative;
    top: 3.3vh;
}
.gangsta-background {
    height: 75vh;
    top: 219px;
    right: -77px;
    position: absolute;
}

@media (max-width:1439px) {
    .gangsta-background {
        /* height: 59vw;
        top: 55vh;
        right: 15px; */
        display: none;
    }
    .playnow__wrapper{
        margin-top: -173px;
    }
}   
#begin-play i{
    left: 1vw;
}

@keyframes bounce {
    50% {
        transform: translateX(-15px);
      }
}
.joinUs__card--circle{
    position:relative;
    top:93px;
}
#firstCircle i {
    color: #fff;
}
#subscribe-youtube:hover{
    background: #fff;
    color: #F70000 !important;
}
.joinUs__card--footer i, #whiteliste-button i{
    padding-left: 10px;
}

.joinUs__card--footer a{
    padding:15px 40px;
}
#secondCircle i {
    color: #fff;
}

.joinUs__card--circle i {
    font-size: 5em;
    color: #F70000;
    padding-top: 2vh;
}
#subscribe-youtube{
    background:linear-gradient(0deg,#f70000,#dc0505);
}

#subscribe-instagram{
    background:linear-gradient(to bottom right,#964ff7,#200811);
}
#subscribe-instagram:hover{
    background: #fff;
    color: #964ff7 !important;
}

#thirtyCircle i {
    color: #fff;
}

#subscribe-facebook{
    background:linear-gradient(to bottom right,#1f97a5,#567473);
}
#subscribe-facebook:hover{
    background: #fff;
    color: #1f97a5 !important;
}



#subscribe-facebook{
    padding:15px 40px;
    background:linear-gradient(to bottom right,#1f97a5,#567473);
}
#subscribe-facebook:hover{
    background: #fff;
    color: #1f97a5 !important;
}
#whiteliste-button {
    padding: 11px 7px;
    background:#820010;
    font: 500 12px Geometria;
}
#whiteliste-button:hover, #begin-play:hover{
    background: #fff;
    color: #820010 !important;
}
.playnow__card--first:after{
    content:" ";
    display:block;
    position:absolute;
    top:10px;
    right:0px;
    width:122px;
    height:173px;
    background:url(../images/icons/gtavlegends.png);
    background-repeat: no-repeat;
}

.playnow__card--first{
    background:#161a1d;
}
.playnow__card--second:after{
    content:" ";
    display:block;
    position:absolute;
    top:25px;
    right: 0;
    width:80px;
    height:54px;
    background:url(../images/icons/fivem.png);
    background-repeat: no-repeat;
}

/* ********
*********** style Card *******
*/
h2.section-heading.teamTitle{
    padding-top:5% !important;
}
h2.section-heading.teamTitleM{
    padding-bottom:5% !important;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
.card p {
    font-family: 'Montserrat', sans-serif !important;
    /*font-size: .8rem;*/
    opacity: .6;
    margin-top: 10px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.content:after {
    content: '';
    left: 80px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 100;
    pointer-events: none;
}
.content:before {
    content: '';
    pointer-events: none;
    right: 80px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 100;
}
.btn {
    min-width: 60px;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(270deg,rgb(0 0 0 / 50%),#070a12);
    border: 0px;
    outline: none;
    cursor: pointer;
    z-index: 200;
    margin: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    transition: all .25s ease;
}
.btn:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}
.btn i {
    font-size: 1.6rem;
}
.con-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding-top: 100px;
    padding-left:60px;
    padding-right: 50px;
    scroll-behavior: smooth
}
.con-cards::-webkit-scrollbar {
    height: 0px;
}
.con-cards:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}
.card {
    width: 300px;
    min-width: 300px;
    height: auto;
    background: linear-gradient(270deg,rgb(0 0 0 / 50%),#070a12);
    border-radius: 30px;
    position: relative;
    z-index: 10;
    margin: 25px;
    min-height: 356px;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    cursor: pointer;
    color: #fff;
}
.card:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}
.card:hover .con-img {
    transform: translate(0,-15px);
}
.card:hover .con-img img.blur{
    opacity: .45;
    transform: translate(-10px, 26px) scale(.85);
}
.card h3 {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    left: 0px;
    top: 0px;
    padding: 15px;
}
.card i.bx {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px;
    font-size: 1.3rem;
}
.card .con-text {
    padding: 20px;
}
.card .con-img {
    width: calc(100% - 60px);
    margin: 0px 30px;
    margin-top: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-out;
}
.card img {
    height: 400px;
}
.card img.blur {
    position: absolute;
    filter: blur(15px);
    z-index: -1;
    opacity: .35;
    transform: translate(-10px, 10px) scale(.85);
    transition: all .35s ease-out;
}

.whitelist{
    padding-top: 14px !important;
}
#next i, #prev i {
    font-size: 1.4rem;
    color: #fff;
}
.con-text i{
    font-size: 3em;
    color: #fff;
    padding-right: .5em;
}
.social-button-stream{
    display: flex;
    justify-content: center;
    padding-left: 2em;
}
.social-button-stream i:hover, .social-button-stream img:hover {
    opacity: 0.5;
}
.card-content{
    height: 100%;
}
.first-step-button:hover{
    color: #161a1d;
    background:#fff;
}
.second-step-button:hover{
    background: #fff;
    color: #713cee;
}
.third-step-button:hover{
    background: #fff;
    color: #00aa57;
}
.star {
    color : #ffd700 !important;
    font-size: 30px  !important;
    padding: 0 !important;
}
@media (min-width:576px){
    .container{max-width:540px}
}
@media (min-width:768px){
    .container{max-width:720px}
}
@media (min-width:992px){
    .container{max-width:960px}
}
@media (min-width:1200px){
    .container{max-width:1140px}
    .gangsta-background{top:250px}
}
@media (min-width:1440px){
    .container{max-width:1230px}
}
.playnow__card .g-btn-stroke {
    font-weight: 500 ;
}
.fa-discord{
    font-size: 50px;
}
.fa-discord:hover, .join-discord:hover{
    cursor: pointer;
    animation: headShake 1600ms infinite cubic-bezier(0.05, 0.445, 0.95, 0.55);
}
/* section.mt-5.mr-3.casemain__serverInfo.d-flex.flex-row {
    visibility: hidden;
} */
.nimo-icon {
    height: 2.6em !important;
    padding-right: 2em;
}

/**
load
*/
.video-wrapper {
    background: #fff;
    position: absolute;
    width:100vw;
    height:100vh;
    overflow: hidden;
    z-index: 99;
  }
  .video-wrapper video {
    object-fit: cover;
    width:100vw;
    height:100vh;
  }
  .close-video {
      position: absolute;
      width: 50px;
      background-color: #00aa57;
      z-index: 999;
  }
  .button-close-video {
    position:absolute;
    top: 1vh;
    left: 1vw;
    background:rgba(0,0,0,.5);
    padding:20px;
    font:500 24px Geometria;
    text-transform:uppercase;
    color:#fff;
    border:none;
  }
.button-close-video:hover {
    background:rgba(40,40,40,0.42);
}
